# Misc
.DS_Store

# Node
node_modules

# Svelte
.svelte-kit
apps/www/build
apps/www/package

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Envs
.env
.env.*
!.env.example

# Turbo
.turbo

# Cargo
target
pkg
